*{margin:0;padding:0;}
#main-image {
	width:1200px;
    height:500px;
	min-width:1080px;
	background:linear-gradient(to right bottom,rgba(100,200,150,0.1),rgba(0,0,0,0)),url(../image/bridge.jpg) no-repeat;
    background-size:1200px  500px;
	margin:0 auto;
}

#main{
	width:1200px;
    height:900px;
	margin:50px auto;
	
}
#main hgroup{
	width:800px;
	height:50px;
	margin:0 auto;
}
#main h2{
	font-weight:900;
	font-size:50px;
	text-align:center;
	margin-top:30px; 
}
#main h3{
	font-weight:700;
	font-size:20px;
	margin-top:10px;
	text-align:center;
}
#main .example{
	width:1200px;
    height:500px;
	margin:80px 0 50px 100px;
	
}
#main .example figure{
	width:310px;
	height:335px;
	border:1px solid #ccc;
	display:inline-block;
	margin:0 20px 10px 0;
}
#main .example figure img{
	margin:5px;
	
}
#main .example figure figcaption{
    margin:0 10px 0 15px;
	text-align:left;
	font-size:14px;
}
#main .example .price{
	float:left;
	margin-top:10px;
	color:#f60;
	font-size:10px;
}
#main .example .price strong{
	font-size:20px;
}
#main .example  figcaption .sat{
	float:right;
	margin:15px 3px 0 0;
	color:#999;
	font-size:15px;
	
}
#main .example .more{
	width:200px;
	height:30px;
	line-height:30px;
	margin:20px 0 20px 400px;
	text-align:center;
	border:1px solid #ccc;
	border-radius:4px;
	cursor:pointer;
} 